body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Oxygen;
    background: url(https://pbs.twimg.com/media/EcaDAP2WsAYxSiE?format=jpg&name=large);
}
.pagetitle{
    position: absolute;
    font-size: x-large;
    width: fit-content;
    height: 400px;
    margin: 2em;
}
.content{
    width: 100%;
    height: 200vh;
    margin: -8px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(5px);
    padding: 2em;
}
.buttons {
    user-select: none;
    display: flex;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    height: 100%;
}
.buttons div {
    transition: 0.2s;
    width: 19%;
    margin: 0 auto;
}
.buttons div:hover{
    background: #f5deb3aa;
    font-weight: bold;
}
.buttons div:active{
    background: #ddcaa6aa; 
}
@font-face {
    font-family: Oxygen;
    src: url(source/fonts/Oxygen-Regular.ttf);
}